@charset 'utf-8';

html {
  font-size: 16px;
  color: #000;
  background-color: #fff;
}
body {
  color: #333;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.428571429;
  font-family: tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, 'sans-serif';
}

a {
  color: #0074d9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    // 去掉 IE 10+ 点击链接时的灰色背景
    background-color: transparent;
  }
}
