<span class="todo-count"><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
<ul class="filters">
  <li>
    <a {{#eq filter 'all'}}class="selected"{{/eq}} href="#/all">All</a>
  </li>
  <li>
    <a {{#eq filter 'active'}}class="selected"{{/eq}}href="#/active">Active</a>
  </li>
  <li>
    <a {{#eq filter 'completed'}}class="selected"{{/eq}}href="#/completed">Completed</a>
  </li>
</ul>
{{#if completedTodoCount}}<button class="clear-completed">Clear completed</button>{{/if}}